@{
    ViewData["Title"] = "Index";
}

<div>
    <h2>Bienvenido al juego del Ahorcado</h2>
<p>Intentá adivinar la palabra secreta letra por letra o arriesgando la palabra completa.</p>
<a href='@Url.Action("Jugar","Home")' alt = "Volver a la pag principal"> Comenzar</a>
</div>
